<p id="notice"><%= notice %></p>

<p>
  <b>Hunch:</b>
  <%= @evidence.hunch_id %>
</p>

<p>
  <b>Title:</b>
  <%= @evidence.title %>
</p>

<p>
  <b>Description:</b>
  <%= @evidence.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @evidence.rating %>
</p>


<%= link_to 'Edit', edit_hunch_evidence_path(@evidence) %> |
<%= link_to 'Back', hunch_evidences_path %>
