<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @hunch.title %>
</p>

<p>
  <b>Description:</b>
  <%= @hunch.description %>
</p>

<p>
  <b>Geographicarea:</b>
  <%= @hunch.Geographicarea %>
</p>

<p>
  <b>Sector:</b>
  <%= @hunch.Sector %>
</p>

<p>
  <b>Evidence:</b>
  
  <table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Rating</th>
  </tr>
  <% for evidence in @hunch.evidences %>
  <tr>
    <td><%= evidence.title %></td>
    <td><%= evidence.description %></td>
    <td><%= evidence.rating %></td>
  </tr>
  <% end %>
  </table>
</p>
<p>
<%= link_to 'Add evidence', new_hunch_evidence_path(:hunch_id => @hunch.id, :hunch_title => @hunch.title) %>
</p>

<%= link_to 'Edit hunch', edit_hunch_path(@hunch) %> |
<%= link_to 'Back to list of hunches', hunches_path %>
