<h1>Listing hunches</h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Area</th>
    <th>Sector</th>
    <th>Evidence</th>
    <th>Weight</th>
    <th></th>
    <th></th>
  </tr>

<% @hunches.each do |hunch| %>
  <tr>
    <td><%= link_to hunch.title, hunch %></td>
    <td><%= hunch.description %></td>
    <td><%= hunch.Geographicarea %></td>
    <td><%= hunch.Sector %></td>
    <td><%= pluralize(hunch.evidences.length, "reports") %></td>
    <td><%= pluralize(hunch.evidences.length, "") %></td>
    <td><%= link_to 'New evidence', evidences_path(:hunch_id => hunch.id), :method => :post %></td>
    <td><%= link_to 'Delete', hunch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a Hunch', new_hunch_path %>
